.dtept{
  font-size: 24px;
    color: #727477;
    font-family: 'AzoSans-Black',helvetica,arial,sans-serif;
    margin-top: 60px;
    margin-bottom: 10px;
    display: block;

}

.panelsocios>.panel-heading{
background-color:#C0241A;
}
.panelsocios>.panel-heading h2{
color:#fff;
text-align: center;
}

/*Progress Bar*/
#upload-progress{
    height: 20px;
    border: 1px solid #ddd;
    width: 100%;
}
#upload-progress .progress-bar{
    background: #bde1ff;
    width: 0;
    height: 20px;
}
/*LOGO*/
.navbar-brand {
  padding: 0px;
  height: 80px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
/*TABLAS*/
table.table thead th{
  text-align: center;
}
/*BOTONES*/
a.btn.btn-primary.btnvolverprin{
  margin-top: 63px;
}
